<div style="text-align: center; margin-top: 50px">
  <h2 style="font-family: 'Segoe UI', sans-serif; color: #1db954; font-size: 2rem">
    🎧 Equipe Spotifei
  </h2>

  <div style="display: inline-block; text-align: left; margin-top: 20px">
    <div style="
        background-color: #282c34;
        color: white;
        padding: 15px 25px;
        margin-bottom: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      ">
      👤 Ricardo
    </div>
    <div style="
        background-color: #282c34;
        color: white;
        padding: 15px 25px;
        margin-bottom: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      ">
      👤 Marcos Eduardo Wolff Costa
    </div>
    <div style="
        background-color: #282c34;
        color: white;
        padding: 15px 25px;
        margin-bottom: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      ">
      👤Alan de Oliveira


    <div style="
    background-color: #282c34;
    color: white;
    padding: 15px 25px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    ">
        👤 Adriele Mota
    </div>

    </div>
  </div>
</div>