<div class="criacao-playlist">
  <h2 class="titulo">Criar nova playlist</h2>

  <form class="form-playlist">
    <div class="campo">
      <label for="nome">Nome da playlist</label>
      <input id="nome" type="text" placeholder="Ex: Músicas para relaxar" />
    </div>

    <div class="campo">
      <label for="descricao">Descrição</label>
      <textarea id="descricao" rows="3" placeholder="Adicione uma breve descrição sobre sua playlist"></textarea>
    </div>

    <div class="campo-upload">
      <label for="capa" class="upload-label">
        <input type="file" id="capa" accept="image/*" />
        <span class="icone"></span>
       
      </label>
     
    </div>

    <div class="acoes">
      <button type="submit" class="btn-criar">Criar playlist</button>
      <button type="reset" class="btn-cancelar">Cancelar</button>
    </div>
  </form>
</div>
