<div class="perfil-container">

  <div class="perfil-header">
    <div class="perfil-foto">
      <img src="https://dthezntil550i.cloudfront.net/lk/latest/lk1810260217520800002264421/1280_960/eebd13c4-0167-4252-af7b-7beeeee03efd.png" alt="Foto de Perfil">
    </div>

    <div class="perfil-info">
      <h1>GaloProgramador</h1>
      <p>2 Playlists públicas</p>

      <div class="perfil-botoes-container">
        <button>Editar Perfil</button>

        <a class="btn-link" href="http://localhost:4200/criacao-playlist">
          Criar Playlist
        </a>
      </div>
    </div>
  </div>

  <div class="playlists">
    <h2>Playlists públicas</h2>

    <div class="grid">
      <div class="playlist-card">
        <a href="http://localhost:4200/tela-album">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQehhBEyBpTkDmoJfLq1b19UdJjUzRL4uAPgA&s" alt="Playlist 1">
        </a>
        <p>Gorilazz</p>
      </div>

      <div class="playlist-card">
        <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD..." alt="Playlist personalizada">
        <p>Minha Playlist</p>
      </div>
    </div>

  </div>

</div>
